rebuild_filesystem.bat
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/CMake
/toolchain
/build
/.vscode
/tools
/res

cmake-variants.json
CMakeLists.txt
UpdateToolchain.ps1
